@font-face {
    font-family: 'MarkaziText';
    src: url('../fonts/MarkaziText-Regular.ttf');
}

@font-face {
    font-family: 'BalooChettan2';
    src: url("../fonts/BalooChettan2-Regular.ttf");
}

.buttonAsLink {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

/* globalni override */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)),
    url("../asset/background.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #e2e2e2;
}

div::after {

}

.contentDefault {
    width: 60%;
}

.guideDescription {

}

.hintText {
    margin-left: 8px;
    color: #b5b5b5;
    font-size: small;
}

.card {
    border-color: rgba(0, 0, 0, 0);
    background: rgba(99, 144, 226, 0.26);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.tableAcrylic {
    color: #f8f6f6;
    border-color: rgba(0, 0, 0, 0);
    background: rgba(252, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.buttonDefault .buttonDefault:checked .buttonDefault:focus {
    color: #e2e2e2;
    background: #0c63e4;
    border-color: #0a58ca;
}

.buttonDefault:hover {
    color: #e2e2e2;
    background: #4a99ff;
    border-color: #4a99ff;
}

h1 {
    color: #faf9f9;

}

.mainTitle {
    font-size: 36px;
    font-family: 'MarkaziText', serif;
}

.smallParagraph {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}