@font-face {
    font-family: 'MarkaziText';
    src: url('../fonts/MarkaziText-Regular.ttf');
}

@font-face {
    font-family: 'BalooChettan2';
    src: url("../fonts/BalooChettan2-Regular.ttf");
}

/* globalni override */
body {
    font-family: 'BalooChettan2', serif;
    background: rgb(5, 5, 57);
    background: -moz-radial-gradient(circle, rgba(5, 5, 57, 1) 0%, rgba(4, 4, 48, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(5, 5, 57, 1) 0%, rgba(4, 4, 48, 1) 100%);
    background: radial-gradient(circle, rgba(5, 5, 57, 1) 0%, rgba(4, 4, 48, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#050539", endColorstr="#040430", GradientType=1);

    color: #e2e2e2;
}

.hintText {
    margin-left: 8px;
    color: #b5b5b5;
    font-size: small;
}

.card {
    background: #867676;
    border-radius: 16px;
}

.buttonDefault .buttonDefault:checked .buttonDefault:focus {
    color: #e2e2e2;
    background: #0c63e4;
    border-color: #0a58ca;
}

.buttonDefault:hover {
    color: #e2e2e2;
    background: #4a99ff;
    border-color: #4a99ff;
}

h1 {
    color: #faf9f9;

}

.mainTitle {
    font-size: 36px;
    font-family: 'MarkaziText', serif;

}