<div class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <script src="js/redirectHome.js"></script>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">The guide has been rejected!</h1>
            <p class="lead">You should be automatically redirected in 5s...</p>
            <p class="lead">
                <a href="/" class="btn btn-lg btn-secondary buttonDefault">Main page</a>
            </p>
        </main>
    </div>
</div>