{% extends 'layout/main_layout.twig' %}

{% block content %}
    {% if guides|length == 0 %}
        <p class="text-center">Sadly, no guides were published yet</p>
    {% else %}

        <div class="container justify-content-center mb-lg-2">
            <h4 class="display-3 text-center">
                Guides
            </h4>
            {% for guide in guides %}
                <div class="row justify-content-center">
                    <div class="jumbotron container mt-4 backgroundAcrylic">
                        <div class="container">
                            <h1 class="display-5">{{ guide.name }}</h1>
                            <p class="smallParagraph">{{ guide.abstract|raw }}</p>
                            <div class="d-flex">
                                <div class="ml-auto">
                                    <a class="btn btn-primary"
                                       href="/guide?guideId={{ guide.id }}">Details</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


{% endblock %}