{% extends 'layout/main_layout.twig' %}
{% block content %}

    <div class="d-flex justify-content-center">
        {% if user %}
            <div class="jumbotron mx-auto text-center contentDefault">
                <h1 class="display-4 justify-content-center">Welcome back
                    <span class="text-primary"> {{ user.username }}</span>!
                </h1>
                <p class="lead">This site contains thousands of guides for coding in many languages and frameworks
                    such as JavaScript, TypeScript, Java, Python, SQL, PHP and many more!</p>
                <hr class="my-2">


                <p class="lead">Quick access:</p>

                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/guidelist" role="button">Browse</a>
                    {% if user.role == 'author' %}
                        <a class="btn btn-primary btn-lg" href="/myguides" role="button">My Guides</a>
                        <a class="btn btn-primary btn-lg" href="/createguide" role="button">Create a Guide</a>
                    {% elseif user.role == 'reviewer' %}
                        <a class="btn btn-primary btn-lg" href="/createguide" role="button">Create a Guide</a>
                        <a class="btn btn-primary btn-lg" href="/myreviews" role="button">My Reviews</a>
                    {% elseif user.role == 'publisher' %}
                        <a class="btn btn-primary btn-lg" href="/manageusers" role="button">Manage Users</a>
                        <a class="btn btn-primary btn-lg" href="/managecontent" role="button">Manage Content</a>
                    {% endif %}
                </p>
            </div>

        {% else %}
            <div class="jumbotron mx-auto contentDefault">
                <h1 class="display-4 d-flex justify-content-center">Welcome to League Guides!</h1>
                <p class="lead">
                    This site contains thousands of guides for popular game League of Legends
                    completely for free! To browse just click the button below. We have something for every
                    League player out there.
                </p>

                <hr class="my-1">
                <p>You can also register to create your guides or review others</p>
                <div class="jumbotron text-center">
                    <a class="btn btn-primary btn-lg my-2" href="/guidelist" role="button">Browse</a>
                    <a class="btn btn-primary btn-lg my-2" href="/login" role="button">Login</a>
                    <a class="btn btn-primary btn-lg my-2" href="/register" role="button">Register</a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="jumbotron mx-auto justify-content-center contentDefault ">
        <div class="text-center">
            <h1 class="display-5">Currently popular guides</h1>
            <p>Check out our currently most popular guides here!</p>
        </div>

        <div class="album">
            <div class="container">
                {% for guide in guides %}
                    <div class="row mt-lg-3">
                        <div class="container-fluid contentDefault">
                            <div class="jumbotron backgroundAcrylic">
                                <h1>{{ guide.name }}</h1>
                                <p class="card-text smallParagraph">
                                    {{ guide.abstract }}
                                </p>
                                <div class="d-flex">
                                    <div class="ml-auto">
                                        <a href="/guide?guideId= {{ guide.id }}" type="button"
                                           class="btn btn-primary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
