{% extends 'layout/main_layout.twig' %}
{% block content %}

    <div class="container-fluid">
        {% if user %}
            <div class="jumbotron mx-auto text-center">
                <h1 class="text-center">Welcome back
                    <span class="text-primary"> {{ user.username }}</span>!
                </h1>
                <p class="lead">
                    This site contains thousands of guides for coding in many languages and frameworks
                    such as JavaScript, TypeScript, Java, Python, SQL, PHP and many more!
                </p>
                <hr class="bg-light">
                <p class="lead">Quick access:</p>
                <div class="jumbotron text-center">
                    <a class="btn btn-primary btn-lg mt-2" href="/guidelist" role="button">Browse</a>
                    {% if user.role == 'author' %}
                        <a class="btn btn-primary btn-lg mt-2" href="/myguides" role="button">My Guides</a>
                        <a class="btn btn-primary btn-lg mt-2" href="/createguide" role="button">Create a Guide</a>
                    {% elseif user.role == 'reviewer' %}
                        <a class="btn btn-primary btn-lg mt-2" href="/createguide" role="button">Create a Guide</a>
                        <a class="btn btn-primary btn-lg mt-2" href="/myreviews" role="button">My Reviews</a>
                    {% elseif user.role == 'publisher' %}
                        <a class="btn btn-primary btn-lg mt-2" href="/manageusers" role="button">Manage Users</a>
                        <a class="btn btn-primary btn-lg mt-2" href="/managecontent" role="button">Manage Content</a>
                    {% endif %}
                </div>
            </div>

        {% else %}
            <div class="jumbotron mx-auto text-center">
                <h1 class="text-center">Welcome to League Guides!</h1>
                <p class="lead">
                    This site contains thousands of guides for coding in many languages and frameworks
                    such as JavaScript, TypeScript, Java, Python, SQL, PHP and many more!
                </p>

                <hr class="bg-light">
                <p>You can also register to create your guides or review others</p>
                <div class="jumbotron text-center">
                    <a class="btn btn-primary btn-lg mt-2" href="/guidelist" role="button">Browse</a>
                    <a class="btn btn-primary btn-lg mt-2" href="/register" role="button">Register</a>
                    <a class="btn btn-primary btn-lg mt-2" href="/login" role="button">Login</a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="jumbotron mx-auto justify-content-center contentDefault mt-lg-5">
        <div class="text-center">
            <h1 class="display-4">Currently popular guides</h1>
            <p>Check out our currently most popular guides here!</p>
        </div>
        <div class="container-fluid">
            {% for guide in guides %}
                <div class="row mt-lg-3">
                    <div class="container-fluid">
                        <div class="jumbotron mt-4 backgroundAcrylic">
                            <h3>{{ guide.name }}</h3>
                            <p class="card-text smallParagraph">
                                {{ guide.abstract|raw }}
                            </p>
                            <div class="d-flex mb-lg-2">
                                <div class="ml-auto">
                                    <a href="/guide?guideId= {{ guide.id }}" type="button"
                                       class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
