{% extends 'layout/main_layout.twig' %}
{% block content %}
    <div class="container">
        <div class="row m-lg-auto">
            <div class="col d-flex justify-content-center ">
                <div class="container mt-4">
                    <h1 class="">Log-in</h1>
                    <a href="/register">Not a user yet? Register</a>
                </div>
            </div>

            <div class="col">
                <form method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control textInput" name='username' id="username"
                               placeholder="Username" value="{{ username }}"
                               required>

                        <label for="password">Password</label>
                        <input type="password" class="form-control textInput" name='password' id="password"
                               placeholder="Password" required>
                    </div>

                    <button type="submit" class="btn btn-primary mt-2 float-end">Login</button>
                </form>
                {% if error %}
                <h5 class="mt-2 text-center">{{ error }}</h5>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
