{% extends 'layout/main_layout.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <h1 class="">Log-in</h1>
            </div>

            <div class="col">
                <form method="post" role="form">
                    <div class="form-group">
                        <label for="inputUsername"></label>
                        <input type="text" class="form-control textInput" id="inputUsername" placeholder="Username">

                        <label for="inputPassword"></label>
                        <input type="password" class="form-control textInput" id="inputPassword" placeholder="Password">
                    </div>

                    <a href="/register">Not a user yet? Register</a>
                    <button type="submit" class="btn btn-primary mt-2 float-end">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
