{% extends 'layout/main_layout.twig' %}

{% block content %}

    <table class="table tableBlueAcrylic table-responsive">
        <thead>
        <tr>
            <th scope="col">Reviewer</th>
            <th scope="col">Info</th>
            <th scope="col">Theme</th>
            <th scope="col">Orig</th>
            <th scope="col">Qual</th>
            <th scope="col">Overall</th>
        </tr>
        </thead>

    </table>

{% endblock %}