{% extends 'layout/main_layout.twig' %}

{% block content %}
    <h1 class="display-4">Manage Content</h1>
    <table class="table tableAcrylic table-responsive">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Guide name</th>
            <th scope="col">Author</th>
            <th scope="col">Reviews</th>
            <th scope="col">Overall score</th>
        </tr>
        </thead>

        <tbody>
        {% set i = 1 %}
        {% for guide in guides %}

        <tr class="elementHoverLight">
            <th scope="row">{{ i }}</th>
            <td>{{ guide.name }}</td>
            <td>{{ guide.username }}</td>

            <td>
                <a href="/managereviews?guideId={{ guide.id }}" class="btn btn-primary">Manage Reviews</a>
            </td>

            {% set i = i + 1 %}
            {% endfor %}

        </tbody>
    </table>

{% endblock %}