{% extends 'layout/main_layout.twig' %}

{% block content %}

    <div class="justify-content-center">
        <h1 class="display-3">Pending reviews</h1>
        <div class="d-flex mt-4 ">
            {% for review in reviews %}
                <div class="jumbotron reviewItem backgroundAcrylic">
                    <h1 class="display-5">{{ review.name }}</h1>
                    <p class="smallParagraph">{{ review.abstract }}</p>
                    <div class="d-flex">
                        <div class="ml-auto">
                            <a class="btn btn-primary"
                               href="/review?reviewId={{ review.review_id }}">Review</a>
                        </div>
                    </div>
                </div>



            {% endfor %}
        </div>
    </div>
{% endblock %}