{% extends 'layout/main_layout.twig' %}

{% block content %}

    <div class=" justify-content-center">
        <h1 class="display-4 text-center">Pending reviews</h1>
        {% if reviews|length == 0 %}
            <p class="text-center">Currently, there are no pending reviews for you...</p>
        {% endif %}
        <div class="mt-4">
            {% for review in reviews %}
                <div class="jumbotron mt-4  backgroundAcrylic">
                    <h1 class="display-5">{{ review.name }}</h1>
                    <p class="smallParagraph">{{ review.abstract }}</p>
                    <div class="d-flex">
                        <div class="ml-auto">
                            <a class="btn btn-primary"
                               href="/review?reviewId={{ review.review_id }}">Review</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}