{% extends 'layout/main_layout.twig' %}
{% block content %}
    <div class="container">
        <div class="row m-lg-auto">
            <div class="col d-flex justify-content-center ">
                <div class="container mt-4">
                    <h1 class="">Register your account</h1>
                    <a href="/login" class="">Already have an account? Log-in here.</a>
                </div>
            </div>

            <div class="col">
                <form id="registerForm">
                    <div class="form-group">
                        <div>
                            <label>Enter your username:</label>
                            <label for="username"></label>
                            <input type="text" class="form-control textInput" id="username" name="username"
                                   aria-describedby="usernameInfo" value="{{ formData.username }}"
                                   placeholder="Username" required>
                            <small id="usernameInfo" class="hintText">This username will be visible to other
                                users</small>
                        </div>

                        <label>Enter password:</label>
                        <label for="password"></label>
                        <input type="password" class="form-control textInput" id="password" placeholder="Password"
                               name="password" required>

                        <label>Enter email:</label>
                        <label for="email"></label>
                        <input type="email" class="form-control textInput" value="{{ formData.email }}"
                               id="email" name="email"
                               placeholder="email@gmail.com" required>
                    </div>

                    <h6 class="text-danger mt-2" id="error" class="text-center mt-4" ></h6>
                    <div class="mt-2">

                        <h3>Select your role:</h3>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="role" id="author"
                                   value="author" checked>
                            <label class="form-check-label" for="author">
                                Author
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="reviewer"
                                   value="reviewer">
                            <label class="form-check-label" for="reviewer">
                                Reviewer
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="publisher"
                                   value="publisher">
                            <label class="form-check-label" for="publisher"
                            >
                                Publisher <span class="hintText">(extra confirmation will be required)</span>
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mt-2 float-end">Register</button>
                </form>
            </div>
        </div>
    <script src="js/auth/register.js"></script>
{% endblock %}