{% extends 'layout/main_layout.twig' %}
{% block content %}

    {% if error %}
        <h1>{{ error }}</h1>
    {% else %}

        <script src="js/review.js"></script>
        {% include 'fragment/review_form_fragment.twig' %}

    {% endif %}

{% endblock %}