{% extends 'layout/main_layout.twig' %}
{% block content %}
<div class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Review is Completed!</h1>
            <p class="lead">This review is archived since it was already completed</p>
            <p class="lead">To reopen the review please contact publisher!</p>
            <p class="lead">
                <a href="/" class="btn btn-lg btn-secondary buttonDefault">Main page</a>
            </p>
        </main>

    </div>
</div>

{% endblock %}