{% extends 'layout/main_layout.twig' %}
{% block content %}

    {% if error %}
        <h1>{{ error }}</h1>
    {% else %}

        <!-- tohle by se asi idealne melo psat do controlleru-->
        {% set reviewValues = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %}
        {% set scores = ['info_score', 'complexity_score', 'efficiency_score', 'quality_score', 'overall_score'] %}
        {% set scoreNames = ['Info score', 'Complexity score', 'Efficiency score', 'Quality score', 'Overall score'] %}
        {% set modelNames = ['infoScore', 'complexityScore', 'efficiencyScore', 'qualityScore', 'overallScore'] %}
        {% include 'fragment/review_form_fragment.twig' %}

    {% endif %}

{% endblock %}